# Core frameworks and servers
fastapi
uvicorn[standard]
gunicorn

# Data handling and machine learning
scikit-learn
pydantic
numpy
pandas

# Database connections
sqlalchemy
psycopg2-binary
mysql-connector-python

# Authentication and security
python-jose[cryptography]
passlib[bcrypt]>=1.7.4
bcrypt==4.0.1

# Other utilities
requests
python-multipart
python-dotenv