fastapi
uvicorn[standard]
scikit-learn
pydantic
numpy
pandas
requests
sqlalchemy
psycopg2-binary
gunicorn
passlib
python-multipart
passlib[bcrypt]
python-jose[cryptography]
python-dotenv
mysql-connector-python
bcrypt